<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="https://media.istockphoto.com/vectors/book-store-icon-flat-vector-vector-id822476568.png?q=100" alt="">
                <h6>All books</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Bio-Graphy')">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-movie-folder/256/Biography-icon.png?q=100" alt="">
                <h6>Bio-Graphy</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Love Story')">
                <img src="https://cdn1.vectorstock.com/i/1000x1000/67/50/love-story-book-icon-flat-style-vector-34226750.jpg?q=100" alt="">
                <h6>Love Story</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Fantacy')">
                <img style="width: 62px; margin-top: 5px;" src="https://th.bing.com/th/id/OIP.en8-TOhWkrnB6ZV0aIko0QAAAA?pid=ImgDet&rs=1.jpeg?q=50" alt="">
                <h6>Fantacy</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>